.card {
  width: 540px;
}

.card__list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.card__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 32px 0;
}

.card__list-item {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.card__list-item:first-of-type {
  margin-top: 0;
}

.card__list-divider {
  display: flex;
  border-bottom: 1px solid;
  flex-grow: 1;
  margin: 0 5px 0 5px;
}
